<div class="acount">
  <div class="menu">
    <ul>
      <ng-container *ngFor="let item of menu">
        <li
          (click)="selectedPage = item.router"
          [class.active]="selectedPage === item.router"
        >
          {{ item.name }}
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6" *ngIf="selectedPage === menu[0].router">
        <app-main-info></app-main-info>
      </div>
      <div class="col-12" *ngIf="selectedPage === menu[1].router">
        <app-my-listings></app-my-listings>
      </div>
      <div class="col-12" *ngIf="selectedPage === menu[2].router">
        <app-my-activity></app-my-activity>
      </div>
      <div class="col-12" *ngIf="selectedPage === menu[3].router">
        <app-photos></app-photos>
      </div>
      <div class="col-12" *ngIf="selectedPage === menu[7].router">
        <app-setting></app-setting>
      </div>



    </div>

  </div>
</div>
