<div class="card-plans">
  <div class="container">
    <div class="form-group">
      <label>Area</label>
      <div class="input-group area">
        <input
          [(ngModel)]="type.area"
          class="form-control form-control-lg"
          style="border-right: none"
          type="text">
        <div class="input-group-append">
          <select [(ngModel)]="type.areaType" class="form-select">
            <option selected value="m2">M2</option>
            <option value="sqft">sqft</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Especifications</label>
      <textarea
        [(ngModel)]="type.especifications"
        class="form-control"
        cols="3"
        required
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label>Price from</label>
      <div class="input-group area">
        <input
          [(ngModel)]="type.priceFrom"
          class="form-control form-control-lg"
          style="border-right: none"
          type="text"
        >
        <div class="input-group-append">
          <select [(ngModel)]="type.priceCurrency" class="form-select">
            <option selected value="COP">COP</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="CHF">CHF</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Rooms</label>
      <app-number-selector (setValue)="type.rooms" [value]="type.rooms"></app-number-selector>
    </div>
    <div class="form-group">
      <label>Bathrooms</label>
      <app-number-selector (setValue)="type.bathrooms" [value]="type.bathrooms"></app-number-selector>
    </div>
    <div *ngIf="type.images.length <= 0" class="custom-input-file">
      <input #file type="file" accept='image/*' (change)="addImage(file.files)" class="input-file">
      <i class="far fa-file-image"></i>
      <span>Add photos</span>
    </div>
    <div *ngFor="let image of imagesReader; let i = index" style="margin: 10px">
      <img style="width: 100%;height: 165px" [src]="image" alt="test">
      <div class="image-actions">
        <div class="delete" (click)="removeImage(i)"><i class="far fa-trash-alt"></i></div>
      </div>
    </div>
  </div>
</div>
