<div class="hero">
  <div class="container">
    <div class="col-12">
      <h2>Aliquam tincidunt mauris eu risus.</h2>
      <div class="date">
        <i class="far fa-calendar"></i>
        <span>Oct 20, 2018</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-lg-8">
    <p>
      Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
      leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.
      Suspendisse potenti.
    </p>
    <p>
      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
      luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing,
      commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
      tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices
      sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
      Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
    </p>
    <h6>Donec consectetuer ligula vulputate sem tristique.</h6>
    <p>
      Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.
      Sed lectus. Praesent elementum. Sed semper lorem at felis. Vestibulum
      volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar
      nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et,
      dapibus sed, urna. Lorem ipsum dolor sit amet, consectetuer adipiscing
      elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi
      neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
      sollicitudin.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
      hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
      dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
      viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh.
      Nullam mollis. Ut justo. Suspendisse potenti. Phasellus enim magna, varius
      et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod
      pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet
      ornare non, suscipit nec risus. Sed egestas, ante et vulputate volutpat,
      eros pede semper est, vitae luctus metus libero eu augue. Morbi purus
      libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
      Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum
      volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar
      nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et,
      dapibus sed, urna.
    </p>

    <!--  -->
    <div class="footer">
      <div class="container">
        <div class="user-date">
          <h6>By: Trovimo</h6>
          <div class="date">
            <i class="far fa-calendar"></i>
            <span>Oct 20, 2018</span>
          </div>
        </div>
        <div class="shared">
          <span>Share:</span>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
</div>
