<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card" style="margin-top: 20px">
        <div class="container">
          <h6>Contact Info</h6>
          <div class="info">
            <i class="fas fa-envelope"></i>
            <span>contact@arquitecturayconcreto.com</span>
          </div>
          <div class="info">
            <i class="fas fa-phone"></i> <span>+33 123 456 789</span>
          </div>
          <div class="info">
            <i class="fas fa-map-marker-alt"></i>
            <span>8098 Center Street Easley, SC 29640</span>
          </div>
          <div class="icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
          <button style="margin-top: 30px" class="btn btn-primary">
            <i class="fas fa-share"></i> Share
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card" style="margin-top: 20px">
        <div class="container">
          <h6>About Us</h6>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna
          </p>
        </div>
      </div>

      <div class="card" style="margin-top: 20px">
        <div class="container">
          <h6>27 Projects for Arquitectura y Concreto</h6>
        </div>
      </div>

      <div class="card" style="margin-top: 20px">
        <div class="container">
          <h6>18 Reviews for Arquitectura y Concreto</h6>
          <app-review></app-review>
        </div>
      </div>
    </div>
  </div>
</div>
