<div class="container">
    <div class="grid">
        <div class="row mb-2">
            <div class="col-4">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <div class="grid-item-box">
                            <p class="grid-item-title">Modern Kitchen</p>
                            <div class="grid-item-raiting">
                                <span class="ml-2">5.0<i class="fa fa-star custom-icon"></i></span>
                                <span>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/160" alt="example img">   
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <div class="grid-item-box">
                            <p class="grid-item-title">Modern Kitchen</p>
                            <div class="grid-item-raiting">
                                <span class="ml-2">5.0<i class="fa fa-star custom-icon"></i></span>
                                <span>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/160" alt="example img">   
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <div class="grid-item-box">
                            <p class="grid-item-title">Modern Kitchen</p>
                            <div class="grid-item-raiting">
                                <span class="ml-2">5.0<i class="fa fa-star custom-icon"></i></span>
                                <span>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/160" alt="example img">   
                </div>
            </div>
        </div>
    
        <div class="row mb-2">
            <div class="col-4">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <div class="grid-item-box">
                            <p class="grid-item-title">Modern Kitchen</p>
                            <div class="grid-item-raiting">
                                <span class="ml-2">5.0<i class="fa fa-star custom-icon"></i></span>
                                <span>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/160" alt="example img">   
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <div class="grid-item-box">
                            <p class="grid-item-title">Modern Kitchen</p>
                            <div class="grid-item-raiting">
                                <span class="ml-2">5.0<i class="fa fa-star custom-icon"></i></span>
                                <span>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/160" alt="example img">   
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <div class="grid-item-box">
                            <p class="grid-item-title">Modern Kitchen</p>
                            <div class="grid-item-raiting">
                                <span class="ml-2">5.0<i class="fa fa-star custom-icon"></i></span>
                                <span>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                    <button class="btn p-0 mr-2"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/160" alt="example img">   
                </div>
            </div>
        </div>

    </div>
</div>