<div class="container" style="margin-top: 40px">
  <ul>
    <li><a [routerLink]="['/auth/sign-in']">Login </a>(listo)</li>
    <li><a [routerLink]="['/auth/sign-up']">Registo </a>(listo)</li>
    <li>
      <a [routerLink]="['/acount-profile']">acount-profile </a>(detalles por
      terminar)
    </li>
    <li>
      <a [routerLink]="['/find-experts']">find-experts </a>(detalles por
      terminar)
    </li>
    <li><a [routerLink]="['/home']">home </a>(listo)</li>
    <li>
      <a [routerLink]="['/publish-list']">publish-list </a>(listo,falta detalles
      de integracion)
    </li>
    <li>
      <a [routerLink]="['/profile']">profile experto o negocio </a>(listo, falta
      detalles de integración)
    </li>
    <li>
      <a [routerLink]="['/new']">nueva publicacion </a>(listo, falta detalles de
      integración)
    </li>
    <li><a [routerLink]="['/about-us']">about-us </a>(listo)</li>
    <li><a [routerLink]="['/faq']">faq </a>(listo)</li>
    <li><a [routerLink]="['/legal']">legal </a>(listo)</li>
    <li><a [routerLink]="['/info-publish']">info-publish </a></li>
    <li><a>inmueble detalles </a>(falta)</li>
    <li><a>blog </a>(falta)</li>
    <li><a>detalle post blog </a>(falta)</li>
    <li><a>detalle experto listado </a>(falta)</li>
  </ul>
</div>
