@import "../../theme/vars";

.hero {
  background: url("../../../assets/images/home/slider1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  margin-bottom: 30px;
  .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: bold;
      color: white;
      text-align: center;
    }
    h5 {    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
      text-align: center;
      color: white;
      font-weight:lighter !important;
    }
    .search {
      margin-top: 40px;
      width: 60%;
      .nav {
        &.nav-tabs {
          border-bottom: none !important;
        }

        .nav-item {
          cursor: pointer;
          .nav-link {
            font-weight: bold;
            background-color: #d8d8d8;
            color: $primary;
            border-color: #d8d8d8;
            padding: 0.5rem 2rem;
            font-size: 14px;

            &.active {
              color: #fff !important;
              background-color: $primary !important;
              border-color: $primary !important;
            }
          }
        }
      }
      .filter {
        text-align: end;
        &.active {
          .btn {
          background-color: white !important;
          color:$primary;
          border: none;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
          }
        }
        .btn {
          font-size: 12px;
          width: 7rem;

        }
      }
    }
  }
}

.search-bar {
  background-color: white;
  border-radius: 8px;
  padding: 10px 40px;
  border-top-left-radius: 0;
  width: 100%;
  display: flex;
  input {
    border-bottom: 1px solid #094d82 !important;
    border-radius: 0px !important;
    border:none;
    padding: 0px;
    height: calc(1.5em + 0.75em + 0px);
    margin-right: 20px;
  }
  select {
    border-bottom: 1px solid #094d82 !important;
    border-radius: 0px !important;
    border:none;
    padding: 0px;
    background-color: white;
    height: calc(1.5em + 0.75em + 0px);
    width: 100%;
  }
  .dropdown {
    border-bottom: 1px solid #094d82 !important;
    border-radius: 0px !important;
    border:none;
    padding: 0px;
    background-color: white;
    height: calc(1.5em + 0.75em + 0px);
    width: 100%;
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
}

.filter-content {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  width: 70%;
  transform: translateX(20%);
  z-index: 100;
  .oprincipal {
    img {
      width: 20px;
      margin-left: 0 !important;
      margin-right: 10px;
    }
  }
  .option {
    background-color: white;
    border: 1px solid $primary;
    color:$primary;
    img {
      margin-left: 20px;
    }
    &.active {
      background-color: $primary;
      color:white;
      img {
        filter:  invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

      }
    }
    &:hover {
      background-color: $primary;
      color:white;
      img {
        filter:  invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

      }
    }
    &:target {
      
      background-color: $primary;
      color:white;
      img {
        filter:  invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

      }
    }
    &:focus {
      
      background-color: $primary;
      color:white;
      img {
        filter:  invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

      }
    }
  }
  button {
    font-size: 12px;
  }
}


.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .50rem;
  border-top-right-radius: .50rem;
}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .search {
    width: 100% !important;
    li a.nav-link {
      padding: 0.2rem 1.5rem !important;
    }
    .filter-content {
      width: 100% !important;
      transform: translateX(0%) !important;
    }
  }

}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .search {
    width: 100% !important;
    li a.nav-link {
      padding: 0.2rem 1.5rem !important;
    }
    .filter-content {
      width: 100% !important;
      transform: translateX(0%) !important;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .search {
    width: 90% !important;

    .filter-content {
      width: 100% !important;
      transform: translateX(0%) !important;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }
