<div class="hero">
  <div class="intro">
    <h5>The best way to find your place</h5>
    <h1>Where would you like to live?</h1>
    <div class="search">
      <div>

        <!--Tabs-->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: type === 1 }"
              (click)="setType(1)"
              >Buy</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: type === 2 }"
              (click)="setType(2)"
              >Rent</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: type === 3 }"
              (click)="setType(3)"
              >Shared</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: type === 4 }"
              (click)="setType(4)"
              >Projects</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: type === 5 }"
              (click)="setType(5)"
              >Experts</a
            >
          </li>
        </ul>

        <!--Search Bar-->
        <div style="display: flex; margin-bottom: 20px">
          <div class="search-bar">

            <input
              ngx-google-places-autocomplete 
              #places="ngx-places"
              placeholder="Enter address, city, country"
              [options]= "optionsAddress"
              (onAddressChange)="addressChange($event)"
              aria-describedby="basic-addon2"
              aria-label="Recipient's username"
              class="form-control form-control-lg"
              type="text"
            />
            <select *ngIf="type === 3">
              <option value="Shared Office" selected>Shared Office</option>
              <option value="Co-working Place">Co-working Place</option>
            </select>
            <select *ngIf="type === 4">
              <option value="Residencial" selected>Residencial</option>
              <option value="Commercial">Commercial</option>
            </select>
            <div *ngIf="type === 5" class="dropdown">
              <p>Write your category</p>
              <div class="dropdown-content">
                <ul>
                  <a class="tittle">Services</a>
                  <a >Moving</a>
                  <a>Cleaning</a>
                  <a>Real state</a>
                  <a>Photos</a>
                  <a>3D Virtual tours</a>
                  <a>Storage & Transport</a>
                  <a>Gardeners</a>
                  <a>Painters</a>
                  <a>Plumbers</a>
                  <a>Carpenters</a>
                  <a>Electricians</a>
                  <a>Heating & AC</a>
                  <a>Pool Services</a>
                  <a>Other Services</a>
                </ul>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary"
            style="
              padding: 15px 20px;
              border-radius: 6px;
              width: fit-content;
              margin-left: 10px;"
              (click)="search()"
            type="button"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>

        <!--Filter button-->
        <div
          class="filter"
          [ngClass]="{ active: showFilter }"
          *ngIf="type !== 5">
          <button
            class="btn btn-primary"
            style="border-radius: 6px"
            type="button"
            (click)="showFilter = !showFilter">
            <i *ngIf="!showFilter" class="fas fa-plus"></i>
            <i *ngIf="showFilter" class="fas fa-minus"></i> Filters
          </button>
        </div>

      </div>

      <div class="filter-content" *ngIf="showFilter">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-5"
              *ngIf="type === 1 || type === 2 || type === 4"
            >
              <h6>Type</h6>
              <div style="display: flex; flex-wrap: wrap">
                <div *ngFor="let item of options">
                  <button
                    *ngIf="isEnable(item.enable)"
                    class="btn option oprincipal "
                    style="width: fit-content; border-radius: 8px; margin: 5px"
                    type="button"
                    (click)="addTypeValue(item.value, 'type')"

                  >
                    <img [src]="item.icon" alt="" />{{ item.label }}
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-5">
              <div>
                <button
                  class="btn option"
                  [ngClass]="{ active: activeFilter == 0 }"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="activeFilter = 0"
                >
                  Price
                  <img
                    src="../../../assets/images/icons_filters/Icon%20metro-money.svg"
                    alt=""
                  />
                </button>
                <button
                  class="btn option"
                  [ngClass]="{ active: activeFilter == 1 }"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="activeFilter = 1"
                >
                  Area
                  <img
                    src="../../../assets/images/icons_filters/Icon%20ionic-md-resize.svg"
                    alt=""
                  />
                </button>
                <button
                  class="btn option"
                  [ngClass]="{ active: activeFilter == 2 }"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="activeFilter = 2"
                >
                  Rooms
                  <img
                    src="../../../assets/images/icons_filters/cama.svg"
                    alt=""
                  />
                </button>
                <button
                  class="btn option"
                  [ngClass]="{ active: activeFilter == 3 }"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="activeFilter = 3"
                >
                  Baths
                  <img
                    src="../../../assets/images/icons_filters/banera.svg"
                    alt=""
                  />
                </button>
              </div>

              <div style="margin-top: 30px" *ngIf="activeFilter == 0">
                <div style="display: flex; justify-content: space-between">
                  <h6>Price range</h6>
                  <h6>${{ min }} - ${{ maxP }}</h6>
                </div>
                <app-double-range
                  [min]="min"
                  [max]="maxP"
                  [steps]="stepsP"
                  (setValue)="addMinMaxValues($event.min, $event.max, 'price')"
                ></app-double-range>
              </div>

              <div style="margin-top: 30px" *ngIf="activeFilter == 1">
                <div style="display: flex; justify-content: space-between">
                  <h6>Area range</h6>
                  <h6>{{ min }}m2 - {{ maxA }}m2</h6>
                </div>
                <app-double-range
                  [min]="min"
                  [max]="maxA"
                  [steps]="stepsA"
                  (setValue)="addMinMaxValues($event.min, $event.max, 'area')"
                ></app-double-range>
              </div>

              <div style="margin-top: 30px" *ngIf="activeFilter == 3">
                <!-- BATHS-->
                <h6>Baths</h6>
                <button
                  class="btn option"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="addTypeValue(0, 'baths')"
                >
                  Any
                </button>
                <button
                  class="btn option"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="addTypeValue(1, 'baths')"
                >
                  +1
                </button>
                <button
                  class="btn option"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="addTypeValue(2, 'baths')"
                >
                  +2
                </button>
                <button
                  class="btn option"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="addTypeValue(3, 'baths')"
                >
                  +3
                </button>
                <button
                  class="btn option"
                  style="width: fit-content; border-radius: 8px; margin: 5px"
                  type="button"
                  (click)="addTypeValue(4, 'baths')"
                >
                  +4
                </button>
              </div>

              <div style="margin-top: 30px" *ngIf="activeFilter == 2">
                <!-- ROOMS-->
                <h6>Rooms</h6>
                <div>
                  <button
                    class="btn option"
                    style="width: fit-content; border-radius: 8px; margin: 5px"
                    type="button"
                    (click)="addTypeValue(0, 'rooms')"
                  >
                    Studio
                  </button>
                  <button
                    class="btn option"
                    style="width: fit-content; border-radius: 8px; margin: 5px"
                    type="button"
                    (click)="addTypeValue(1, 'rooms')"
                  >
                    +1
                  </button>
                  <button
                    class="btn option"
                    style="width: fit-content; border-radius: 8px; margin: 5px"
                    type="button"
                    (click)="addTypeValue(2, 'rooms')"
                  >
                    +2
                  </button>
                  <button
                    class="btn option"
                    style="width: fit-content; border-radius: 8px; margin: 5px"
                    type="button"
                    (click)="addTypeValue(3, 'rooms')"
                  >
                    +3
                  </button>
                  <button
                    class="btn option"
                    style="width: fit-content; border-radius: 8px; margin: 5px"
                    type="button"
                    (click)="addTypeValue(4, 'rooms')"
                  >
                    +4
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <button
                class="btn btn-primary"
                style="border-radius: 28px"
                type="button"
              >
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
