<div class="header">
  <div class="container">
    <div class="content">
      <span>{{ "header.text" | translate }}</span>
      <div class="options">
        <ul>
          <li class="dropdown">
            Colombia
            <img src="/assets/flags/colombia.svg" alt="colombia" />
            <i class="fas fa-sort-down"></i>
            <div class="dropdown-content">
              <ul>
                <li>
                  Switzerland
                  <img src="/assets/flags/switzerland.svg" alt="Switzerland" />
                </li>
                <li>International</li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            EN <img src="/assets/flags/united-states-of-america.svg" alt="ES" />
            <i class="fas fa-sort-down"></i>
            <div class="dropdown-content">
              <ul>
                <li class="tittle">Languaje</li>
                <li>
                  EN
                  <img
                    src="/assets/flags/united-states-of-america.svg"
                    alt="ES"
                  />
                </li>
                <li>ES <img src="/assets/flags/spain.svg" alt="ES" /></li>
                <li>DE <img src="/assets/flags/germany.svg" alt="DE" /></li>
                <li>IT <img src="/assets/flags/italy.svg" alt="IT" /></li>
                <li>FR <img src="/assets/flags/france.svg" alt="FR" /></li>
              </ul>
            </div>
          </li>
          <li class="dropdown">
            USD
            <i class="fas fa-sort-down"></i>
            <div class="dropdown-content">
              <ul>
                <li class="tittle">Money</li>
                <li>CHF</li>
                <li>COP</li>
                <li>EUR</li>
                <li>USD</li>
              </ul>
            </div>
          </li>
        </ul>

        <div [routerLink]="['/auth/sign-in']" class="user" *ngIf="!getUser()">
          <i class="fas fa-user"></i>
          <span >Sign in / Register</span>
        </div>
        <div class="user" *ngIf="token">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </div>
        <div [routerLink]="['/account-profile']" class="user" *ngIf="getUser()">
          <i class="fas fa-user"></i>
          <span
            >Bienvenido
            {{ getUser().username || getUser().name || getUser().email }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
