@import "../../theme/vars.scss";
.header {
  background-color: $primary;
  color: white;
  .content {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-family: "Nunito-Italic";
      font-size: 12px;
      color: white;
    }
  }

  .options {
    display: flex;
    align-items: center;
    ul {
      margin: 0;
      li {
        list-style: none;
        display: flex;
        float: left;
        padding: 0 25px;
        border-right: 1px solid;
        font-size: 12px;
        cursor: pointer;
        i {
          margin-left: 10px;
        }
        img {
          margin-left: 4px;
          width: 1rem;
        }
      }
    }
    .user {
      cursor: pointer;
      i {
        margin-right: 5px;
      }
      padding: 0 25px;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .header {
    .content {
      flex-wrap: wrap;
      .options {
        flex-wrap: wrap;
        ul {
          padding-inline-start: 0px !important;
          li:first-child {
            padding-left: 0px;
            padding-right: 10px;
          }
          li {
            padding: 0 10px;
          }
        }
        .user {
          padding: 0px;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .header {
    .content {
      flex-wrap: wrap;
      .options {
        flex-wrap: wrap;
        ul {
          padding-inline-start: 0px !important;
          li:first-child {
            padding-left: 0px;
            padding-right: 10px;
          }
          li {
            padding: 0 10px;
          }
        }
        .user {
          padding: 0px;
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .header {
      .options {
        ul {
          padding-inline-start: 0px !important;
          li:first-child {
            padding-left: 0px;
            padding-right: 10px;
          }
          li {
            padding: 0 10px;
          }
        }
      }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {  }
