@import "src/app/theme/vars";
.input-group-text-custom{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #073558 !important;
}

.form-control {

  border: 2px solid $primary;
}
.form-select{
  border: 2px solid $primary;
}
.row-custom{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left:0px;
}

.remove-padding-left{
    padding-left: 0;
}

.section-custom{
    margin-top: 1rem;
    margin-bottom: 1rem;
    h5{
        font-weight: bold;
    }
}

.grid{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
