<div class="section-form">
  <div class="row" style="align-items: center">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="required">Price</label>
        <div class="input-group">
          <input aria-label="Amount (to the nearest dollar)" class="form-control form-control-lg" required style="border-right: none"
                 type="text">
          <div class="input-group-append">
            <span class="input-group-text-custom" style="
              border-radius: 8px;
              margin-left: -10px;
              z-index: 1;"
            >COP</span>
            <span *ngIf="type != 1" class="input-group-text-custom" style="border-radius: 8px;">Month</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-check form-check-inline" style="margin-top: 20px">
        <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="checkbox" value="option3">
        <label class="form-check-label" for="exampleRadios3">
          Do not show price ( Price upon request)
        </label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label class="required" for="exampleInputEmail1">Rooms</label>
        <app-number-selector></app-number-selector>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label class="required" for="exampleInputEmail1">Bath</label>
        <app-number-selector></app-number-selector>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label class="required" for="exampleInputEmail1">Parking spots</label>
        <app-number-selector></app-number-selector>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label class="required" for="exampleInputEmail1">N° pieces</label>
        <app-number-selector></app-number-selector>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Bathroom *</label>
        <div class="row-custom">
          <div class="form-check form-check-inline">
            <input checked class="form-check-input " id="exampleRadios1" name="exampleRadios" type="radio"
                   value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Private
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios2" name="exampleRadios" type="radio" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Shared
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="radio" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              No
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Furnished *</label>
        <div class="row-custom">
          <div class="form-check form-check-inline">
            <input checked class="form-check-input " id="exampleRadios1" name="exampleRadios" type="radio"
                   value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Full
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios2" name="exampleRadios" type="radio" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Partially
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="radio" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              No
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Pets *</label>
        <div class="row-custom">
          <div class="form-check form-check-inline">
            <input checked class="form-check-input " id="exampleRadios1" name="exampleRadios" type="checkbox"
                   value="option1">
            <label class="form-check-label" for="exampleRadios1">
              Dogs
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios2" name="exampleRadios" type="checkbox" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Cats
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="checkbox" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Birds
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="checkbox" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              All
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="checkbox" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              No
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Avaliable Date *</label>
        <div class="row-custom">
          <div class="col-6 remove-padding-left">
            <input
              aria-describedby="emailHelp"
              class="form-control form-control-lg"
              id="exampleInputEmail1"
              required
              type="date"
            />
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="exampleRadios3" name="exampleRadios" type="checkbox" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Show (immediatly)
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="required" for="exampleInputEmail1">Description</label>
    <textarea
      aria-describedby="emailHelp"
      class="form-control"
      cols="5"
      id="exampleInputEmail1"
      required
      rows="5"
    ></textarea>
  </div>
</div>

<div class="section-location">
  <div class="row">
    <div class="col-12 section-custom">
      <h5>location</h5>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Country *</label>
        <select class="form-select custom-select form-select-lg">
          <option selected value="1">Colombia</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">City *</label>
        <input
          aria-describedby="emailHelp"
          class="form-control form-control-lg"
          id="exampleInputEmail1"
          required
          type="text"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Postal code - state</label>
        <input
          aria-describedby="emailHelp"
          class="form-control form-control-lg"
          id="exampleInputEmail1"
          required
          type="text"
        />
      </div>
    </div>
  </div>


  <div class="map">
    <img alt="example img" src="https://via.placeholder.com/800x400">
    <div class="row justify-content-end">
      <div class="col-2">
        <button class="btn btn-outline-primary">
          Coordinates
        </button>
      </div>
    </div>
  </div>
</div>

<div class="section-media">
  <div class="row">
    <div class="col-12 section-custom">
      <h5>Media</h5>
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1">photos *</label>
    </div>
    <div class="grid">
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <label for="exampleInputEmail1">Video *</label>
      <p>Copy the URL of the youtube video you want to include</p>
    </div>
    <div class="col-6">
      <div class="form-group">
        <div class="row-custom">
          <input class="form-control" type="text">
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-primary">
        Add
      </button>
    </div>
  </div>

  <div class="row">
    <div class="grid">
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
      <div class="grid-item">
        <img alt="example img" src="https://via.placeholder.com/160">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <label for="exampleInputEmail1">360 tour *</label>
      <p>Copy the URL of the 360 ​​tour you want to include</p>
    </div>
    <div class="col-6">
      <div class="form-group">
        <div class="row-custom">
          <input class="form-control" type="text">
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-primary">
        Add
      </button>
    </div>
  </div>
</div>

<div class="section-contact">
  <div class="row">
    <div class="col-12 section-custom">
      <h5>Contact</h5>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Name *</label>
        <input
          aria-describedby="emailHelp"
          class="form-control"
          id="exampleInputEmail1"
          required
          type="text"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Email *</label>
        <input
          aria-describedby="emailHelp"
          class="form-control"
          id="exampleInputEmail1"
          required
          type="text"
        />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Phone</label>
        <input
          aria-describedby="emailHelp"
          class="form-control"
          id="exampleInputEmail1"
          required
          type="text"
        />
      </div>
    </div>
  </div>
</div>

