@import "src/app/theme/vars";
.input-group-text-custom{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #073558 !important;
}
.form-control {
  border: 2px solid $primary !important;
}
.row-custom{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left:0px;
}

.remove-padding-left{
    padding-left: 0;
}

.section-custom{
    margin-top: 1rem;
    margin-bottom: 1rem;
    h5{
        font-weight: bold;
    }
}

.grid{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.area .form-select{
  background-color: $primary !important;
  color: white;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.area input {
  border-right: none !important;
}

.add-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  .add-icon {
    font-size: 35px;
    color: $primary;
    background-color: #D8D8D8;
    padding: 20px;
    width: fit-content;
    border-radius: 55px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


/*   */
.custom-input-file {
  background-color: $primary;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  min-height: 15px;
  overflow: hidden;
  padding: 35px;
  position: relative;
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  span {
    color: white !important;
  }
  i {
    font-size: 65px;
  }
}

.custom-input-file .input-file {
  border: 10000px solid transparent;
  cursor: pointer;
  font-size: 10000px;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: -1000px;
  top: -1000px;
}
.image-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: -46px;
  margin-right: 10px;
  z-index: 4;
  .delete {
    background-color: #CD0000;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 3px;
    font-size: 12px;
  }
}

