@import "src/app/theme/vars";
.input-group-text-custom{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #073558 !important;
}
.row-custom{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left:0px;
}

.remove-padding-left{
    padding-left: 0;
}

.section-custom{
    margin-top: 1rem;
    margin-bottom: 1rem;
    h5{
        font-weight: bold;
    }
}

.grid{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.area .form-select{
  background-color: $primary !important;
  color: white;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.area input {
  border-right: none !important;
}

.add-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  .add-icon {
    font-size: 35px;
    color: $primary;
    background-color: #D8D8D8;
    padding: 20px;
    width: fit-content;
    border-radius: 55px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
