@import "../../theme/vars";
h6 {
  font-weight: bold;
}
.hero {
  background: url("../../../assets/images/search_expert/fondo-experts.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32rem;
  .intro {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: bold;
      color: white;
    }
    .search {
      margin-top: 40px;
      input {
        border: none !important;
      }
    }
  }
}

.service-card{
  font-weight: bold;
          font-size: 10px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding: 45px;
          color: white;
          height: 265px;
          background-position: center;
          background-size: cover;
}

.search-bar {
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 40px;
  width: 100%;
  input {
    width: 300px !important;
    &.address {
      border-bottom: 1px solid $primary !important;
      border:none;
      border-radius: 0px !important;
    }
    &.category {
      border-radius: 30px;
      border: 1px solid $primary;
    }
  }
}

ul {

  padding-inline-start: 0px;
  li {
    list-style: none;
    color: #135AA0;
  }
}
