@import "./vars.scss";
.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  border-radius: 8px;
  width: 100%;
  img {
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(193deg) brightness(103%) contrast(101%);
  }
  &:focus {
    box-shadow: none !important;
  }
}

.btn-outline-primary {
  border-color: $primary !important;
  border: 2px solid !important;
  color: $primary !important;
  border-radius: 50px;
  width: 100%;
  &:hover {
    background-color: $primary !important;
    color: white !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  div {
    margin: 0 10px;
    border-radius: 34px;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    cursor:pointer;
  }
  .facebook {
    background-color: $facebook;
  }
  .google {
    background-color: $google;
  }
  btn {
    background-color: white;
  }
  .btn-outline-primary, .btn-outline-primary:disabled {
    color: #007bff;
    background-color: white !important;
  }
}
