@font-face {
  src: url("../../assets/fonts/Nunito-Regular.ttf");
  font-family: "Nunito-Regular";
}

@font-face {
  src: url("../../assets/fonts/Nunito-Bold.ttf");
  font-family: "Nunito-Bold";
}

@font-face {
  src: url("../../assets/fonts/Nunito-Italic.ttf");
  font-family: "Nunito-Italic";
}

body {
  font-family: "Nunito-Regular" !important;
}
