@import "./vars.scss";
.form-group {
  label:not(.form-check-label) {
    color: $primary !important;
    font-weight: bold;
    &.required::after {
      content: ' *';
      color: red;

    }
  }

  span {
    color:red;
    font-size: 12px;
  }
}
label:not(.form-check-label) {
  color: $primary !important;
  font-weight: bold;
  &.required::after {
    content: ' *';
    color: red;

  }
}


.form-control {
  &:focus {
    border-color: $primary-accent !important;
    box-shadow: 0 0 0 0.2rem #135aa038 !important;
  }
  &.is-invalid {
    border-color:red !important;
  }
}

.form-check {
  label {
    color: $primary !important;
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }
  span {
    color:red;
    font-size: 12px;
  }
}

.form-select {
  background-color: white !important;
  border: 2px solid $primary !important;
  padding: 0 15px;
  option {
    background-color: white !important;
    color: $primary;
    padding: .3rem;
  }
}
