@import '~ngx-toastr/toastr';
@import "./fonts.scss";
@import "./vars.scss";
@import "./buttons.scss";
@import "./dropdown";
@import "./inputs";

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  box-shadow: 0px 3px 20px 0px #135aa029;
}

li:focus {
  outline: none !important;
}

.tooltip-inner {
  max-width: 200px;
  padding: .25rem .5rem;
  color: #fff;
  text-align: center;
  background-color: #073558 !important;
  border-radius: .25rem;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  top: 0;
  border-width: .4rem .4rem 0;
  border-top-color: #073558 !important;
}

.marker {
  margin-top: -20px;
}
