@import "./fonts.scss";
@import "./vars.scss";
@import "./buttons.scss";
@import "./dropdown";
@import "./inputs";

header {
  box-shadow: 0px 3px 20px 0px #135aa029;
}

li:focus {
  outline: none !important;
}
