<app-searchbar></app-searchbar>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div
        [routerLink]="['/publish-list']"
        class="card-home-img"
        style="background-image: url('/assets/images/new-projects.png')"
      >
        <h4>NEW PROJECTS</h4>
        <p>
          Plan your future whith this section. Find new developments close to
          you.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="card-home-img"
        style="background-image: url('/assets/images/experts.png')"
      >
        <h4>Find Experts</h4>
        <p>
          Check the section and find the right professional/company to help you.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        [routerLink]="['/publish-list']"
        class="card-home-img"
        style="background-image: url('/assets/images/share-espaces.png')"
      >
        <h4>Shared spaces</h4>
        <p>
          Renting a room? Sharing an office Check this section and find your
          next space.
        </p>
      </div>
    </div>
    <div class="col-lg-8">
      <div
        class="card-home-img"
        style="
          background-image: url('/assets/images/where-to-find.png');
          background-size: 114% 120%;
        "
      >
        <h4>FIND INSPIRATION</h4>
        <p>Where to find ideas to remodel your home?</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        [routerLink]="['/publish-list']"
        class="card-home-img"
        style="background-image: url('/assets/images/coworking.png')"
      >
        <h4>COWORKING SPACE</h4>
        <p>
          Wanna find the right Coworking office for you? Compare the places
          here.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <h4>Popular services for you</h4>

    <div class="services">
      <div class="row">
        <div class="col-lg-2">
          <div class="card">
            <img src="/assets/images/direccion(1).svg" alt="svg" />
            <h6>Real Estate Company</h6>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img src="/assets/images/direccion(1).svg" alt="svg" />
            <h6>Real Estate Company</h6>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img src="/assets/images/direccion(1).svg" alt="svg" />
            <h6>Real Estate Company</h6>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img src="/assets/images/direccion(1).svg" alt="svg" />
            <h6>Real Estate Company</h6>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img src="/assets/images/direccion(1).svg" alt="svg" />
            <h6>Real Estate Company</h6>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card">
            <img src="/assets/images/direccion(1).svg" alt="svg" />
            <h6>Real Estate Company</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
          <h4>¿What is Trovimo?</h4>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita
          </p>
          <button style="width: 20%" class="btn btn-primary">About us</button>
        </div>
      </div>
    </div>
  </div>
</div>
