<div class="hero">
  <h2>Blog</h2>
</div>
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-lg-8">
      <div
        style="
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          align-items: center;
        "
      >
        <h5>All Topics</h5>
        <div class="input-search">
          <div class="input-group">
            <input
            (keyup.enter)="searchBlog( search.value )"
            (keyup)="clearSearchBlog( search.value )"
              #search
              class="form-control py-2 rounded-pill mr-1 pr-5"
              type="search"
              placeholder="Search themes"
            />
            <span class="input-group-append">
              <button class="btn rounded-pill border-0 ml-n5" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <ul *ngIf="blogsData" class="row listBlog">
        <li
          *ngFor="let blog of blogsData.data; index as i"
          class="col-lg-6 mb-3"
        >
          <div class="blog_publish">
            <picture class="blog_publish_picture">
              <a [routerLink]="[ '/blog', blog.id ]">
                <img [src]="blog.picture" [alt]="blog.title" />
              </a>
            </picture>

            <div class="content">
              <h6><a [routerLink]="[ '/blog', blog.id ]">{{ blog.title }}</a></h6>
              <p [innerHtml]="blog.content | safeHtml"></p>
              <div class="date">
                <i class="far fa-calendar"></i>
                <span>{{ blog.created_at | date: "MMM d, y" }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div *ngIf="loading" class="row">
        <div class="col-12">
          <h3 class="text-center p-5">Loading...</h3>
        </div>
      </div>
      <div *ngIf="blogsData?.data.length === 0" class="row">
        <div class="col-12">
          <h3 class="text-center p-5">No results found for: {{ searchValue }}</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="menu">
        <ul>
          <li 
          (click)="searchByCategory(0)" 
          [ngClass]="{'active': currentCategory === 0}">All Topics</li>
          <li
          (click)="searchByCategory(5)" 
          [ngClass]="{'active': currentCategory === 5}">Home improvement</li>
          <li
          (click)="searchByCategory(1)" 
          [ngClass]="{'active': currentCategory === 1}">Financing</li>
          <li
          (click)="searchByCategory(6)" 
          [ngClass]="{'active': currentCategory === 6}">Tips & Advice</li>
          <li
          (click)="searchByCategory(2)" 
          [ngClass]="{'active': currentCategory === 2}">Green Living</li>
          <li
          (click)="searchByCategory(4)" 
          [ngClass]="{'active': currentCategory === 4}">Decoration</li>
          <li
          (click)="searchByCategory(3)" 
          [ngClass]="{'active': currentCategory === 3}">Trends</li>
        </ul>
      </div>
    </div>
  </div>
</div>
