@import "../../theme/vars";
.filters {
  border-bottom: 1px solid #11355824;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  input {
    width: 10rem;
    border: 1px solid $primary;
    margin-right: 10px;
  }
  .option {
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
    margin: 10px;
    img {
      margin-left: 40px;
    }
    &.active {
      background-color: $primary;
      color: white;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
          brightness(103%) contrast(103%);
      }
    }
    &:hover {
      background-color: $primary;
      color: white;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
          brightness(103%) contrast(103%);
      }
    }
  }
}
.btn {
  padding: 0.2rem 0.75rem;
}
.form-control {
  padding: 0.2rem 0.75rem;
}
.filter-content {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  left: 50%;
  right: 0;
  width: 26%;
  transform: translateX(20%);
  z-index: 99999;
  .oprincipal {
    img {
      width: 20px;
      margin-left: 0 !important;
      margin-right: 10px;
    }
  }
  .option {
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
    img {
      margin-left: 20px;
    }
    &.active {
      background-color: $primary;
      color: white;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
          brightness(103%) contrast(103%);
      }
    }
    &:hover {
      background-color: $primary;
      color: white;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
          brightness(103%) contrast(103%);
      }
    }
  }
  button {
    font-size: 12px;
  }
}
