<div class="filters">
  <div class="container-fluid">
    <div style="display: flex; align-items: center">
      <div style="margin: 0 auto">
        <input
          type="text"
          class="form-control"
          style="display: inline"
          placeholder="Location"
          readonly
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <button
          class="btn option"
          [ngClass]="{ active: openFilter == 0 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          (click)="openFilter = 0"
        >
          Price
          <img
            src="../../../assets/images/icons_filters/Icon%20metro-money.svg"
            alt=""
          />
        </button>
        <select
          class="btn option"
          [ngClass]="{ active: openFilter == 1 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          id="dropdownForm1"
          ngbDropdownToggle
        >
          <option>Residential</option>
          <option>Commercial</option>

          <img src="../../../assets/images/icons_filters/cama.svg" alt="" />
        </select>
        <button
          class="btn option"
          [ngClass]="{ active: openFilter == 2 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          (click)="openFilter = 2"
        >
          Rooms
          <img src="../../../assets/images/icons_filters/cama.svg" alt="" />
        </button>
        <button
          class="btn option"
          [ngClass]="{ active: openFilter == 3 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          (click)="openFilter = 3"
        >
          Baths
          <img src="../../../assets/images/icons_filters/banera.svg" alt="" />
        </button>

        <button
          class="btn option"
          [ngClass]="{ active: openFilter == 4 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          (click)="openFilter = 4"
        >
          Area
          <img
            src="../../../assets/images/icons_filters/Icon%20ionic-md-resize.svg"
            alt=""
          />
        </button>
        <select
          class="btn option"
          [ngClass]="{ active: openFilter == 5 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          (click)="openFilter = 5"
        >
          <option>Type</option>
        </select>
        <button
          class="btn option"
          [ngClass]="{ active: openFilter == 6 }"
          style="width: fit-content; border-radius: 8px"
          type="button"
          (click)="openFilter = 6"
        >
          More filters
          <img
            src="../../../assets/images/icons_filters/Icon%20awesome-filter.svg"
            alt=""
          />
        </button>
        <button
          class="btn option icon-only"
          style="
            width: fit-content;
            border-radius: 8px;
            color: white;
            margin-left: 34px;
          "
          type="button"
          [class.active]="viewType == 0"
          (click)="viewType = 0"
        >
          <img
            src="../../../assets/images/publish_list/cuadricula.svg"
            alt=""
            style="margin-left: 0 !important"
          />
        </button>
        <button
          class="btn option icon-only"
          [class.active]="viewType == 1"
          style="
            width: fit-content;
            border-radius: 8px;
            border: none !important;
          "
          type="button"
          (click)="viewType = 1"
        >
          <img
            src="../../../assets/images/publish_list/list.svg"
            alt=""
            style="margin-left: 0 !important"
          />
        </button>
      </div>
    </div>
    <div
      style="
        width: 20%;
        border-radius: 20px !important;
        position: relative;
        left: 20%;
      "
      *ngIf="openFilter == 0"
      class="shadow-lg p-3 mb-5 bg-white opacity-20"
    >
      <div style="display: flex; justify-content: space-between">
        <h6>Price range</h6>
        <h6>${{ price.min }} - ${{ price.max }}</h6>
      </div>
      <div>
        <app-double-range
          [min]="min"
          [max]="max"
          [steps]="steps"
          (setValue)="setPrice($event.min, $event.max)"
        ></app-double-range>
      </div>
    </div>

    <div
      style="
        width: 20%;
        border-radius: 20px !important;
        position: relative;
        left: 20%;
        left: 57%;
      "
      class="shadow-lg p-3 mb-5 bg-white opacity-20"
      *ngIf="openFilter == 4"
    >
      <div style="display: flex; justify-content: space-between">
        <h6>Area range</h6>
        <h6>{{ area.min }}m2 - {{ area.max }}m2</h6>
      </div>
      <app-double-range
        [min]="min"
        [max]="max"
        [steps]="steps"
        (setValue)="setArea($event.min, $event.max)"
      ></app-double-range>
    </div>

    <div
      style="
        width: 20%;
        border-radius: 20px !important;
        position: relative;
        left: 28%;
      "
      class="shadow-lg p-3 mb-5 bg-white opacity-20"
      *ngIf="openFilter == 1"
    >
      <!-- BATHS-->
      <h6>Residential</h6>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
        (click)="filter.bath = null"
        [class.active]="filter.bath == null"
      >
        Any
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
      >
        +1
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
      >
        +2
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
      >
        +3
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
      >
        +4
      </button>
    </div>

    <div
      style="
        width: 20%;
        border-radius: 20px !important;
        position: relative;
        left: 48%;
      "
      class="shadow-lg p-3 mb-5 bg-white opacity-20"
      *ngIf="openFilter == 3"
    >
      <!-- BATHS-->
      <h6>Baths</h6>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
        (click)="filter.bath = null"
        [class.active]="filter.bath == null"
      >
        Any
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
        (click)="filter.bath = 1"
        [class.active]="filter.bath == 1"
      >
        +1
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
        (click)="filter.bath = 2"
        [class.active]="filter.bath == 2"
      >
        +2
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
        (click)="filter.bath = 3"
        [class.active]="filter.bath == 3"
      >
        +3
      </button>
      <button
        class="btn option"
        style="width: fit-content; border-radius: 8px; margin: 5px"
        type="button"
        (click)="filter.bath = 4"
        [class.active]="filter.bath == 4"
      >
        +4
      </button>
    </div>
    <div
      style="
        width: 20%;
        border-radius: 20px !important;
        position: relative;
        left: 39%;
      "
      class="shadow-lg p-3 mb-5 bg-white opacity-20"
      *ngIf="openFilter == 2"
    >
      <!-- ROOMS-->
      <h6>Rooms</h6>
      <div>
        <button
          class="btn option"
          style="width: fit-content; border-radius: 8px; margin: 5px"
          type="button"
          (click)="filter.room = null"
          [class.active]="filter.room == null"
        >
          Studio
        </button>
        <button
          class="btn option"
          style="width: fit-content; border-radius: 8px; margin: 5px"
          type="button"
          (click)="filter.room = 1"
          [class.active]="filter.room == 1"
        >
          +1
        </button>
        <button
          class="btn option"
          style="width: fit-content; border-radius: 8px; margin: 5px"
          type="button"
          (click)="filter.room = 2"
          [class.active]="filter.room == 2"
        >
          +2
        </button>
        <button
          class="btn option"
          style="width: fit-content; border-radius: 8px; margin: 5px"
          type="button"
          (click)="filter.room = 3"
          [class.active]="filter.room == 3"
        >
          +3
        </button>
        <button
          class="btn option"
          style="width: fit-content; border-radius: 8px; margin: 5px"
          type="button"
          (click)="filter.room = 4"
          [class.active]="filter.room == 4"
        >
          +4
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" *ngIf="viewType == 0">
      <div style="display: flex; justify-content: space-between">
        <div>
          <h6>Apartments in rent</h6>
          <p>{{ projects?.length }} Results</p>
        </div>
        <select style="width: 30%" class="form-control" name="" id="">
          <option value="Price (low to high)">Price (low to high)</option>
          <option value="Price (low to high)">Price (low to high)</option>
          <option value="Price (low to high)">Price (low to high)</option>
          <option value="Price (low to high)">Price (low to high)</option>
        </select>
      </div>

      <div class="row">
        <div class="col-6" *ngFor="let item of projects">
          <app-publish-card
            [type]="type"
            [data]="item"
            *ngIf="item"
          ></app-publish-card>
        </div>
      </div>
    </div>
    <div class="col-lg-4" *ngIf="viewType == 1">
      <div style="display: flex; justify-content: space-between">
        <div>
          <h6>Apartments in rent</h6>
          <p>{{ projects?.length }} Results</p>
        </div>
        <select style="width: 30%" class="form-control" name="" id="">
          <option value="Price (low to high)">Price (low to high)</option>
          <option value="Price (low to high)">Price (low to high)</option>
          <option value="Price (low to high)">Price (low to high)</option>
          <option value="Price (low to high)">Price (low to high)</option>
        </select>
      </div>

      <div class="row">
        <div class="col-6" *ngFor="let item of projects">
          <app-publish-card
            [type]="type"
            [data]="item"
            *ngIf="item"
          ></app-publish-card>
        </div>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="viewType == 0"></div>
  </div>
</div>
