<div class="publish-card">
  <div class="img">
    <img style="width: 100%" src="assets/images/publish/publish.png" alt="" />
    <div class="counter">
      <span>1/3</span>
      <img src="assets/images/publish/Icon material-photo.svg" alt="bed" />
    </div>
  </div>
  <div class="content">
    <h6>$580.000</h6>
    <p>2304 Grand Councorse</p>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div class="icons-details">
        <div>
          <img src="assets/images/publish/cama.svg" alt="bed" />
          <span>4</span>
        </div>
        <div>
          <img src="assets/images/publish/banera.svg" alt="banera" />
          <span>2</span>
        </div>
        <div>
          <img
            src="assets/images/publish/Icon awesome-car-alt.svg"
            alt="cama"
          />
          <span>1</span>
        </div>
      </div>
      <div style="font-size: 12px">250m2</div>
    </div>
  </div>
</div>
