@import "src/app/theme/vars";
p {
  font-weight: bold;
}

input{
  border: 2px solid $primary;
}

.form-group {
  label {
    font-weight: normal;
  }
}

.home_details {
  margin-bottom: 20px;
}

.area .form-select{
  background-color: $primary !important;
  color: white;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.area input {
  border-right: none !important;
}


.tags {
  display: flex;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
  .tag-item {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #D8D8D8;
    color: $primary;
    padding: 3px 16px;
    border-radius: 20px;

    i {
      font-size: 12px;
      cursor: pointer;
    }
  }
}
