<div class="container-fluid" >
    <!-- button de contacto -->
    <button
    style="margin-top: 20px; border-radius: 10px ; margin-top: -50px;"
    class="btn btn-primary mb-4"
  >
  Contact
    </button>

    <!-- Formulario -->
    <form  [formGroup]="formGroup">
      <div class="form-group">
        <label for="exampleInputEmail1">Your full name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Phone Number (optional)</label>
        <input
          type="number"
          formControlName="phone"
          class="form-control"
          placeholder="Enter number"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Message</label>
        <textarea
        class="form-control"
        cols="5"
        required
        rows="5"
        formControlName="message"
      ></textarea>
      </div>

      <button
        style="margin-top: 20px; border-radius: 30px"
        type="submit"
        class="btn btn-primary mb-4"
        [disabled]="formGroup.status == 'INVALID'"
        (click)="sendform()"
      >
         Send
      </button>
    </form>
  </div>
  <!-- Opciones -->
  <div class="bg-box">
    <!-- inmuebles detalle (BUY / RENT) -->
      <div class="container-box">
          <div>
              <img src="https://via.placeholder.com/80x80" class="rounded-circle mt-2">
          </div>
          <div style="width: 50%;">
              <h4 style="color: white; text-align: center; font-size: 16px;">Bemsa Propiedad Raíz</h4>
              <div class="container-sub-box">
                <span class="box-icon">
                  <img style="width:21px; margin: 1px;"   src="../../../../../assets/images/publish/Icon feather-message-square.svg" alt="">
                </span>
                <span class="box-icon">
                  <img style="width:21px; margin: 1px;"   src="../../../../../assets/images/publish/Icon feather-phone-call.svg" alt="">
                </span>
                <span class="box-icon">
                  <img style="width:21px; margin: 1px;"   src="../../../../../assets/images/publish/global.svg" alt="">
                </span>
                <span class="box-icon2">
                  <img style="width:21px; margin: 1px;"   src="../../../../../assets/images/publish/Icon feather-check-circle.svg" alt="">
                </span>
              </div>
          </div>
      </div>
      <div class="container-paragraph">
          <div>
              <p  class="ads">See more ads of this company</p>
          </div>
          <div>
              <p class="report">Report Ad</p>
          </div>
      </div> 

 <!-- detalle shared (RENT A ROOM, SHARED OFFICE)  -->
    <!-- <div class="container-box-2">
        <div>
            <img src="https://via.placeholder.com/80x80" class="rounded-circle mt-2">
        </div>
        <div style="width: 50%;">
            <h4 style="color: white; text-align: center; font-size: 16px;">Bemsa Propiedad Raíz</h4>
            <p class="verify"> <img src="../../../../../assets/images/publish/Icon feather-check-circle.svg" alt=""> User verified</p>
        </div>
    </div>
    <div class="container-paragraph-2">
        <div>
            <p class="report">Report Ad</p>
        </div>
    </div> -->




 <!-- vista inmuebles detalle shared (Coworking)  -->
  <!-- <div class="container-box-3">
    <div>
        <img src="https://via.placeholder.com/80x80" class="rounded-circle mt-2">
    </div>
    <div style="width: 50%;">
        <h4 style="color: white; text-align: center; font-size: 16px;">Bemsa Propiedad Raíz</h4>
        <div class="container-sub-box">
            <img src="https://via.placeholder.com/40x40" class="rounded-circle">
            <img src="https://via.placeholder.com/40x40" class="rounded-circle">
            <img src="https://via.placeholder.com/40x40" class="rounded-circle">
        </div>
    </div>
  </div>
  <div class="container-paragraph">
    <div>
        <p  class="ads">See more ads of this company</p>
    </div>
    <div>
        <p class="report">Report Ad</p>
    </div>
  </div>  -->


  </div>