<div class="menu-header">
  <div class="container">
    <div class="content">
      <ul>
        <li class="dropdown">
          Buy
          <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Buy</li>
              <li>Houses</li>
              <li>Apartments</li>
              <li>Office</li>
              <li>Parking place</li>
              <li>Land</li>
              <li>Warehouse</li>
              <li>Chalet</li>
              <li>Commercial space</li>
              <li>Medical space</li>
              <li>Tiny house</li>
              <li>Other</li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          Rent <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Rent</li>
              <li>Houses</li>
              <li>Apartments</li>
              <li>Office</li>
              <li>Parking place</li>
              <li>Land</li>
              <li>Warehouse</li>
              <li>Chalet</li>
              <li>Commercial space</li>
              <li>Medical space</li>
              <li>Tiny house</li>
              <li>Other</li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          Shared spaces <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Shared spaces</li>
              <li>Rooms</li>
              <li>Shared office</li>
              <li>Co-working spaces</li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          New projects <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">New projects</li>
              <li>Residential</li>
              <li>Commercial</li>
            </ul>
          </div>
        </li>
        <li [routerLink]="['/home']">
          <img src="/assets/images/logo-trovimo.png" alt="Trovimo logo" />
        </li>
        <li>Find experts <i class="fas fa-sort-down"></i></li>
        <li>Find Inspiration <i class="fas fa-sort-down"></i></li>
        <li [routerLink]="['/new']">
          <button
            class="btn btn-outline-primary"
            style="border-radius: 60px"
            type="button"
          >
            <i class="fas fa-plus"></i>
            Add listing
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
