<div class="menu-header">
  <div class="container">
    <div class="content">
      <ul>
        <li class="dropdown">
          Buy
          <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Buy</li>
              <li [routerLink]="'/publish-list/0/1'">Houses</li>
              <li [routerLink]="'/publish-list/0/2'">Apartments</li>
              <li [routerLink]="'/publish-list/0/3'">Office</li>
              <li [routerLink]="'/publish-list/0/4'">Parking place</li>
              <li [routerLink]="'/publish-list/0/5'">Land</li>
              <li [routerLink]="'/publish-list/0/6'">Warehouse</li>
              <li [routerLink]="'/publish-list/0/7'">Chalet</li>
              <li [routerLink]="'/publish-list/0/8'">Commercial space</li>
              <li [routerLink]="'/publish-list/0/9'">Medical space</li>
              <li [routerLink]="'/publish-list/0/10'">Tiny house</li>
              <li [routerLink]="'/publish-list/0/14'">Other</li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          Rent <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Rent</li>
              <li [routerLink]="'/publish-list/0/1'">Houses</li>
              <li [routerLink]="'/publish-list/0/2'">Apartments</li>
              <li [routerLink]="'/publish-list/0/3'">Office</li>
              <li [routerLink]="'/publish-list/0/4'">Parking place</li>
              <li [routerLink]="'/publish-list/0/5'">Land</li>
              <li [routerLink]="'/publish-list/0/6'">Warehouse</li>
              <li [routerLink]="'/publish-list/0/7'">Chalet</li>
              <li [routerLink]="'/publish-list/0/8'">Commercial space</li>
              <li [routerLink]="'/publish-list/0/9'">Medical space</li>
              <li [routerLink]="'/publish-list/0/10'">Tiny house</li>
              <li [routerLink]="'/publish-list/0/14'">Other</li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          Shared spaces <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Shared spaces</li>
              <li [routerLink]="'/publish-list/1'">Rooms</li>
              <li [routerLink]="'/publish-list/1'">Shared office</li>
              <li [routerLink]="'/publish-list/2'">Co-working spaces</li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          New projects <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">New projects</li>
              <li [routerLink]="'/publish-list/3'">Residential</li>
              <li [routerLink]="'/publish-list/3'">Commercial</li>
            </ul>
          </div>
        </li>
        <li [routerLink]="['/home']">
          <img src="/assets/images/logo-trovimo.png" alt="Trovimo logo" />
        </li>
        <li class="dropdown">Find experts <i class="fas fa-sort-down"></i>
          <div class="dropdown-content">
            <ul>
              <li class="tittle">Services</li>
              <li>Moving</li>
              <li>Cleaning</li>
              <li>Real state</li>
              <li>Photos</li>
              <li>3D Virtual tours</li>
              <li>Storage & Transport</li>
              <li>Gardeners</li>
              <li>Painters</li>
              <li>Plumbers</li>
              <li>Carpenters</li>
              <li>Electricians</li>
              <li>Heating & AC</li>
              <li>Pool Services</li>
              <li>Other Services</li>
            </ul>
            <ul>
              <li class="tittle">Remodeling</li>
              <li>Kitchen Specialists</li>
              <li>Bathroom Specialists</li>
              <li>General Contractors</li>
              <li>Office Remodeling</li>
              <li>Flooring Contractors</li>
              <li>Cinema/Music Studios Builders</li>
              <li>Pool & Spa Builders</li>
              <li>Concrete Renovations</li>
              <li>Windows Contractors</li>
              <li>Lighting Contractors</li>
              <li>Roof / Facade Renovators</li>
              <li>Other</li>
            </ul>
            <ul>
              <li class="tittle">Desing & Contruction</li>
              <li>Architects Companies</li>
              <li>Interior Desing Companies</li>
              <li>Construction Companies</li>
              <li>Outdoor Design</li>
              <li>Specialists Engineering / Architecture</li>
              <li>General Contractors</li>
              <li>Pool & Spa Companies</li>
              <li>Home Builder</li>
              <li>Other Company</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <ul>
              <li class="tittle">Providers</li>
              <li>Furniture</li>
              <li>Pools</li>
              <li>Lighting</li>
              <li>Decoration</li>
              <li>Flooring</li>
              <li>Painting</li>
              <li>Wood material</li>
              <li>Steel</li>
              <li>Waterproof</li>
              <li>Sanitary</li>
              <li>Fire Extintion</li>
              <li>Other Provider</li>
            </ul>
    </div>
        </li>
        <li>Find Inspiration <i class="fas fa-sort-down"></i></li>
        <li [routerLink]="['/new']">
          <button
            class="btn btn-outline-primary"
            style="border-radius: 60px;
    padding-right: 22px;
"
            type="button"
          >
            <i class="fas fa-plus"></i>
            Add listing
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
