<div class="review">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <div class="profile">
                <div class="text-center"> <img class="img-circle" src="https://trovimo.com/api/uploads/user/images/{{data.user.photo}}" alt="" style="height: 70px;  border-radius: 50%;" /></div>
                <div class="text-center"> <span class="name text-center">{{data.user.name}}</span></div>

            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8">
            <div class="row">
                <div style="display: flex; justify-content: space-between" class="col-12">
                    <span class="score">{{data.rating}}.0 <i class="fas fa-star"></i></span>
                    <span class="date text-center">{{ data.created_at | date:'MMM dd-yyyy' }}</span>
                </div>
                <div class="col-12">
                    <p>
                        {{data.observation}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="" style="width: 100%;">
    <div class="row" style="width: 100%;">
        <div class="col-xl-4 col-lg-4 col-md-4 text-center" style="width: 100%;">
            <div class="col-12" style="width: 100%;">
                hola
            </div>

        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 text-center" style="width: 100%;">
            hola
        </div>
    </div>
</div>-->