<div class="info">
  <h6>My account</h6>

  <form>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Name and surname</label>
      <input type="text" class="form-control" />
    </div>
    <label>Phones</label>
    <div class="input-group" style="margin-bottom: 20px">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="width: auto"
      >
        +57
      </button>
      <ul class="dropdown-menu">
        <li>+57</li>
        <li>+58</li>
        <li>+59</li>
      </ul>
      <input type="text" class="form-control" />
      <button
        style="width: auto"
        class="btn btn-primary"
        type="button"
        id="button-addon2"
      >
        +
      </button>
    </div>
    <div class="row">
      <div class="form-group col-4">
        <label>Country</label>
        <select class="form-control form-select">
          <option selected>Colombia</option>
          <option value="1">Colombia</option>
          <option value="2">Colombia</option>
          <option value="3">Colombia</option>
        </select>
      </div>
      <div class="form-group col-4">
        <label>City</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group col-4">
        <label>Postal code - state</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <span>Select the city of your work (You can select more than one) </span>
    <div class="input-group" style="margin-bottom: 20px">
      <input type="text" placeholder="Insert Address" class="form-control" />
      <button
        style="width: auto"
        class="btn btn-primary"
        type="button"
        id="button-addon2"
      >
        +
      </button>
    </div>
  </form>

  <h6>Social Networks</h6>
</div>
