<h6>What would you like to do?</h6>
<div class="actions-btn">
  <button
    (click)="setAction(1)"
    class="btn"
    [ngClass]="{
      'btn-primary': idType === 1,
      'btn-outline-primary': idType !== 1
    }"
  >
    Sale
  </button>
  <button
    (click)="setAction(2)"
    class="btn"
    [ngClass]="{
      'btn-primary': idType === 2,
      'btn-outline-primary': idType !== 2
    }"
  >
    Rent
  </button>
  <button
    (click)="setAction(3)"
    class="btn"
    [ngClass]="{
      'btn-primary': idType === 3,
      'btn-outline-primary': idType !== 3
    }"
  >
    Shared spaces
  </button>
  <button
    (click)="setAction(4)"
    class="btn"
    [ngClass]="{
      'btn-primary': idType === 4,
      'btn-outline-primary': idType !== 4
    }"
  >
    New projects
  </button>
  <app-help-tooltip></app-help-tooltip>
</div>

<!--

 -->
<h6>Select your type property</h6>
<div class="property-btn" >
  <div *ngFor="let option of options" >
    <button
      *ngIf="isEnable(option.enable)"
      (click)="selectOption(option.value)"
      class="btn"
      [ngClass]="{
      'btn-primary': idOption === option.value,
      'btn-outline-primary': idOption !== option.value
    }">
      <img *ngIf="option.icon !== ''" [src]="option.icon" alt="" />
      {{option.label}}
    </button>
  </div>

</div>
<p *ngIf="idType === 3" style="margin-top: 20px">* Find people to share the extra space in your place,<br>
  list your room here.</p>
