
<div class="section-form">
    <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Price * </label>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text-custom">COP</span>
                  <span class="input-group-text-custom">Month</span>
                </div>
            </div>
          </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Bathroom *</label>
            <div class="row-custom">
                <div class="form-check form-check-inline">
                  <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Private
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Shared
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    No
                  </label>
                </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Furnished *</label>
            <div class="row-custom">
                <div class="form-check form-check-inline">
                  <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Full
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Partially
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    No
                  </label>
                </div>
            </div>
          </div>
        </div> 
    </div>
    
    <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Pets *</label>
            <div class="row-custom">
                <div class="form-check form-check-inline">
                  <input class="form-check-input " type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Dogs
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Cats
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    Birds
                  </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                      All
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                      No
                    </label>
                </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Avaliable Date *</label>
            <div class="row-custom">
                <div class="col-6 remove-padding-left">
                    <input
                    type="date"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
    
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    Show (immediatly)
                  </label>
                </div>
            </div>
          </div>
        </div> 
    </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <textarea
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        cols="5"
        rows="5"
        required
    ></textarea>
    </div>
</div>

<div class="section-location">
    <div class="row">
        <div class="col-12 section-custom">
            <h5>location</h5>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Country *</label>
            <select class="custom-select">
                <option value="1" selected>Colombia</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="exampleInputEmail1">City *</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
            />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="exampleInputEmail1">Postal code - state</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
            />
          </div>
        </div>
    </div>
    
    
    <div class="map">
        <img src="https://via.placeholder.com/800x400" alt="example img">
        <div class="row justify-content-end">
            <div class="col-2">
                <button  class="btn btn-outline-primary">
                    Coordinates
                </button>
            </div>
        </div>
    </div>
</div>

<div class="section-media">
    <div class="row">
        <div class="col-12 section-custom">
            <h5>Media</h5>  
        </div>
        <div class="col-12">
        <label for="exampleInputEmail1">photos *</label>
        </div>
        <div class="grid">
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-12">
            <label for="exampleInputEmail1">Video *</label>
            <p>Copy the URL of the youtube video you want to include</p>
        </div>
        <div class="col-6">
            <div class="form-group">
              <div class="row-custom">
                <input type="text" class="form-control">
              </div>
            </div>
        </div>
        <div class="col-2">
            <button  class="btn btn-primary">
                Add
            </button>
        </div>  
    </div>
    
    <div class="row">
        <div class="grid">
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
            <div class="grid-item">
                <img src="https://via.placeholder.com/160" alt="example img">
            </div>
        </div>
    
    </div>
    
    <div class="row">
        <div class="col-12">
            <label for="exampleInputEmail1">360 tour *</label>
            <p>Copy the URL of the 360 ​​tour you want to include</p>
        </div>
        <div class="col-6">
            <div class="form-group">
              <div class="row-custom">
                <input type="text" class="form-control">
              </div>
            </div>
        </div>
        <div class="col-2">
            <button  class="btn btn-primary">
                Add
            </button>
        </div>  
    </div>
</div>

<div class="section-contact">
    <div class="row">
        <div class="col-12 section-custom">
            <h5>Contact</h5>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Name *</label>
              <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
            />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Email *</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                required
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Phone</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                required
              />
            </div>
          </div>
    </div>
</div>

