<div class="container">
    <div class="actions-btn">
        <button
          class="btn btn-outline-primary"
        >
        Listings
        </button>
        <button
        class="btn btn-outline-primary"
        >
        Proffesionals / Companies
        </button>
        <button
        class="btn btn-outline-primary"
        >
        Photos
        </button>
        <button
        class="btn btn-outline-primary"
        >
        Projects
        </button>
    </div>


    <div class="grid">
        <div class="row mb-2">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/160" alt="Card image cap"
                    style="height: 120px;" >
                    <div class="card-body">
                        <div><p class="card-title">$580.000 <br> <span>2304 Grand Concourse</span></p></div>
                        <div>
                            <img class="card-img-center"  src="https://via.placeholder.com/40">
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="ml-2">4<i class="fa fa-star custom-icon"></i></span>
                        <span class="ml-2">2<i class="fa fa-star custom-icon"></i></span>
                        <span class="ml-2">1<i class="fa fa-star custom-icon"></i></span>
                        <div class="card-title-footer">
                            250m2
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/160" alt="Card image cap"
                    style="height: 120px;" >
                    <div class="card-body">
                        <div><p class="card-title">$580.000 <br> <span>2304 Grand Concourse</span></p></div>
                        <div><p class="card-title" style="font-size: 9px;">Available-Date <br> <span style="padding-left: 10px;">02-05-2000</span></p></div>
                    </div>
                    <div class="card-footer">
                        <span class="ml-2">4<i class="fa fa-star custom-icon"></i></span>
                        <span class="ml-2">2<i class="fa fa-star custom-icon"></i></span>
                        <span class="ml-2">1<i class="fa fa-star custom-icon"></i></span>
                        <div class="card-title-footer">
                            250m2
                        </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>