<div class="container-fluid">
  <h5>My listing</h5>
  <div class="header-list">
    <div style="display: flex; align-items: center">
      <h6 style="margin: 0">Buy</h6>
      <div>
        <div class="form-group has-search ">
          <input type="text" class="form-control" placeholder="Search">
          <span class="fa fa-search form-control-feedback"></span>
        </div>
      </div>
    </div>

    <div class="orderby">
      <label>Order by:</label>
      <select name="order" class="form-control">
        <option value="1" selected>Most recent</option>
        <option value="2" selected>Active</option>
        <option value="3" selected>Paused</option>
        <option value="4" selected>Draft</option>
        <option value="5" selected>Sold</option>
        <option value="6" selected>Higher price</option>
        <option value="7" selected>Better statistics</option>
        <option value="8" selected>Worst statistics</option>
      </select>
    </div>
  </div>
  <div class="list">
    <ul>
      <li>
        <div class="list-card">
          <div class="check">
            <label>1.</label>
          </div>
          <div class="img"></div>
          <div class="info"></div>
          <div class="users-actions"></div>
          <div class="status"></div>
          <div class="actions"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
