.number-selector {
  display: flex;
  align-items: center;
  button {
    color:white
  }
  .value {
    background-color: #D8D8D8;
    padding-top: 0.3rem;
    width: -webkit-fill-available;
    text-align: center;
    padding-bottom: 0.3rem;
  }
}
