<div class="container-fluid form-customsearch">
    <div class="row justify-content-custom">
        <div class="col-4">
            <div class="input-search">
                <div class="input-group">
                    <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" value="search">
                    <span class="input-group-append">
                        <button class="btn rounded-pill border-0 ml-n5" type="button">
                              <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p class="search-result">
                Find photos / 80 Results for "Kitchen"
            </p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-between">
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <select class="custom-select">
                            <option value="1" selected>Type</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <select class="custom-select">
                            <option value="1" selected>Style</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <select class="custom-select">
                            <option value="1" selected>Color</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <select class="custom-select">
                    <option value="1" selected>Recently added</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="row mb-2">
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
            <div class="col-2">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/160" alt="example img">
                </div>
            </div>
            <div class="col-4">
                <div class="grid-item">
                    <img src="https://via.placeholder.com/350x160" alt="example img">
                </div>
            </div>
        </div>

        <div class="col-12 text-center mt-4">
            <button  class="btn btn-primary btn-load">
                Load more images
            </button>
        </div>

    </div>
</div>


